[Unit]
Description=Xray Torrent Blocker IP Limit local daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/iptblocker
ExecStart=/opt/iptblocker/iptblocker -config /opt/iptblocker/config.yaml
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal
SyslogIdentifier=iptblocker

[Install]
WantedBy=multi-user.target
